{{!-- Show supplier info and list of batches --}}
<div class="relative flex flex-col gap-4 pb-6 overflow-x-clip">
  <div class='flex items-center gap-1.5'>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 512 512">
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M344 280l88-88M232 216l64 64M80 320l104-104" />
      <circle cx="456" cy="168" r="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
      <circle cx="320" cy="304" r="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
      <circle cx="208" cy="192" r="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
      <circle cx="56" cy="344" r="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
    </svg>
    <span class='font-semibold text-lg'>Thông tin nhà cung cấp</span>
  </div>
  <div class="grid grid-cols-1 items-start gap-4">
    <div class="col-span-1 md:col-span-1 flex flex-col gap-4">
      <div class="flex flex-col gap-5 p-5 bg-white rounded border border-neutral-5 shadow overflow-hidden">
        <div class="flex flex-col gap-1.5">
          <span class="pb-2.5 text-[15px] font-semibold leading-5 border-b border-neutral-5">Thông tin nhà cung cấp</span>
          <div class="grid sm:grid-cols-[1fr_1fr] md:grid-cols-[1fr_1fr_2fr] gap-2.5">
            <div class="flex flex-col gap-1.5">
              <label for="name">Tên</label>
              <input type="text" name="name" id="name" class="base-input-sm" value="{{supplier.name}}" disabled>
            </div>
            <div class="flex flex-col gap-1.5">
              <label for="phone">Số điện thoại</label>
              <input type="text" name="phone" id="phone" class="base-input-sm" value="{{supplier.phone}}" disabled>
            </div>
            <div class="flex flex-col gap-1.5">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" class="base-input-sm" value="{{supplier.email}}" disabled>
            </div>
            <div class="flex flex-col gap-1.5">
              <label for="status">Trạng thái</label>
              <input type="text" name="status" id="status" class="base-input-sm" value="{{#if supplier.isActive}}Hoạt động{{else}}Không hoạt động{{/if}}" disabled>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1.5">
          <span class="pb-2.5 text-[15px] font-semibold leading-5 border-b border-neutral-5">Danh sách lô hàng</span>
          <div class="flex flex-col gap-1.5">
            <div class="grid grid-cols-[2fr_1fr_1fr] sm:grid-cols-[2fr_1fr_1fr_1fr] gap-2 items-center p-2 bg-white sticky top-0 z-10">
              <span class="font-semibold">Mã lô</span>
              <span class="font-semibold">Ngày nhập</span>
              <span class="font-semibold">Ghi chú</span>
              <span class="font-semibold justify-self-center hidden sm:block">Thao tác</span>
            </div>
          </div>
          <div class="flex flex-col gap-4 max-h-[400px] overflow-y-auto not-show-scroll" id="selected-products">
            {{#each batches}}
              <div class="grid grid-cols-[2fr_1fr_1fr] sm:grid-cols-[2fr_1fr_1fr_1fr] gap-2 items-center p-2 border rounded hover:bg-gray-50">
                <span class="text-sm">{{this.batchCode}}</span>
                <span class="text-sm">{{formatDate this.importDate}}</span>
                <span class="text-sm">{{this.note}}</span>
                <a href="/admin/batches/{{this._id}}" class="button-primary-ghost-sm leading-none cursor-pointer h-8 px-4 w-max justify-self-center hidden sm:block">Chi tiết</a>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="flex items-center justify-end gap-2.5">
        <a href="/admin/suppliers" class="button-secondary-solid-sm">Quay lại</a>
        <a href="/admin/batches/add/{{supplier._id}}" class="button-primary-solid-sm">Thêm lô hàng</a>
      </div>
    </div>
  </div>
</div>

